@charset "UTF-8";
.black_bg {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    transition: all .1s;
    pointer-events: none;
}

.pop_white {
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.13);
    position: absolute;
    width: calc(100% - 120px);
    margin-left: 30px;
    margin-right: 30px;
    bottom: -1000px;
    padding: 70px 30px 30px 30px;
    transition: all .5s;
    z-index: 9999;
}

.pop_white p {
    margin: 0 0 30px 0;
    padding: 0;
    float: left;
    font-size: 38px;
}

.pop_pp {
    clear: left;
    margin-bottom: 50px;
}

.pop_pp img {
    width: 100%;
}

.pop_teaching {
    float: left;
    margin-left: 25px;
    font-size: 35px;
    margin-bottom: 25px;
}

.teching_link {
    float: left;
    padding: 15px 20px;
    background-color: #d5d5d5;
    margin-top: -10px;
    color: #585858;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
}

.trust_btn {
    width: 100%;
    border: none;
    background-color: #0063f0;
    font-size: 40px;
    border-radius: 12px;
    padding: 25px 0;
    color: #fff;
    font-weight: bold;
    display: block;
    text-align: center;
    text-decoration: none;
}

.pop_close {
    text-align: right;
    float: right;
    font-size: 40px;
    color: #0063f0;
    position: absolute;
    margin-top: -50px;
    right: 20px;
    text-decoration: none;
}








.hand{
    width: 72px;
    height: 72px;
    background: url('../hand.png') no-repeat center;
    position: absolute;
    top: 568px;
    left: -120px;
    transition: all .5s;
    opacity: 0;
    z-index: 99;

}






@-webkit-keyframes handAnimation {
  0% {
    opacity: 0;
    top: 568px;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    opacity: 1;
    top: 568px;
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
  }
  55% {
    opacity: 1;
    top: 568px;
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
  }
  56%{
    top: 580px;
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
  }
  70%{
    top: 580px;
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
  }
  71%{
    top: 568px;
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
  }
  100%{
    opacity: 1;
    top: 568px;
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
  }
}

@keyframes handAnimation {
  0% {
    opacity: 0;
    top: 568px;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    opacity: 1;
    top: 568px;
    -webkit-transform: translateX(600px);
    -ms-transform: translateX(600px);
    transform: translateX(600px);
  }
  55% {
    opacity: 1;
    top: 568px;
    -webkit-transform: translateX(600px);
    -ms-transform: translateX(600px);
    transform: translateX(600px);
  }
  56%{
    top: 580px;
    -webkit-transform: translateX(600px);
    -ms-transform: translateX(600px);
    transform: translateX(600px);
  }
  70%{
    top: 580px;
    -webkit-transform: translateX(600px);
    -ms-transform: translateX(600px);
    transform: translateX(600px);
  }
  71%{
    top: 568px;
    -webkit-transform: translateX(600px);
    -ms-transform: translateX(600px);
    transform: translateX(600px);
  }
  100%{
    opacity: 1;
    top: 568px;
    -webkit-transform: translateX(600px);
    -ms-transform: translateX(600px);
    transform: translateX(600px);
  }
}

.handAnimation {
  -webkit-animation: handAnimation 3s 5;
  animation: handAnimation 3s;
   -webkit-animation-delay:  1s;
  animation-delay:  1s;
  -webkit-animation-iteration-count:3;
  animation-iteration-count:3;
  
}



